
.card {
		.title {
            color: black;
			font-size: 25px;
			font-weight: 500;
			position: relative;
		}
        form {
            
            width: 100%;
            color: black;
            .user-details {
                margin-right: 20px;
                .input-box ,.textarea-box {
                    margin-bottom: 15px;
                    
                    // margin-bottom: 15px;
                    // width: 100%;
                    input {
                        height: 45px;
                        width: 100%;
                        outline: none;
                        font-size: 16px;
                        border-radius: 5px;
                        padding-left: 15px;
                        border: 1px solid #ccc;
                        border-bottom-width: 2px;
                        transition: all 0.3s ease;
                    }
                    span {
                        &.details {
                            display: block;
                            font-weight: 500;
                            margin-bottom: 5px;
                        }
                    }
                }
                // .textarea-box {
                //     transform: translateY(21px);
                // }
                
                
            }
            .button {
                height: 45px;
                margin: 35px 0;
                text-align: center;
                
                .upload{
                    display: inline-block;
                    background-color: #71b7e6;
                    color: white;
                    width: 100%;
                    padding-top: 11px;
                    padding-bottom: 12px;
                    text-align: center;
                    border-radius: 5px;
                    cursor: pointer;
                   
                  }
                input {
                    outline: none;
                    height: 100%;
                    width: 100%;
                    border-radius: 5px;
                    border: none;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 1px;
                    cursor: pointer;
                    margin: 2px;
                    background: #71b7e6;
                    padding-left: 15px;
                    margin-bottom: 10px;
                    
                }
            }
        }
	
}

#description {
	height: 412px;
	width: 100%;
	outline: none;
	font-size: 16px;
	border-radius: 5px;
	padding-left: 15px;
    
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	
}



     
   